* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	background-color: #eee;
	color: #333;
	text-align: center;
}

a {
	color: #333;
	text-decoration: none;
}

h1,
h2,
h3 {
	padding-bottom: 2rem;
}

.wrapper {
	margin: auto;
	width: 100%;
}

.button {
	font-size: 1.8rem;
	color: #eee;
	background-color: #333;
	padding: 1.5rem 2.5rem;
	border: none;
	border-radius: 5px;
}

.button:hover {
	background-color: #58d4ba;
	color: #333;
	cursor: pointer;
}

/* ************************************************** nav */
nav {
	position: fixed;
	font-weight: 300;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 0 10rem;
	background-color: #fff;
	box-shadow: 0 0.25rem .25rem rgba(51, 51, 51, 0.2);
}
nav ul {
	list-style: none;
	display: flex;
	font-size: 4rem;
}
nav ul li a {
	display: block;
	padding: 2rem;
}

nav ul li a:hover,
nav ul li a.current {
	background-color: #333;
	color: #fff;
}

/* logo */
.logo {
	font-size: 4rem;
}
.logo i {
	padding: 0 1.5rem;
}

/* ************************************************** header */
#title {
	background: url('https://2.bp.blogspot.com/-ZnzEm0CmzGA/V-4rkRm18SI/AAAAAAAAEaQ/vzRlg_Dd50gLcRAbBlJqa0LQmw6YfKTrwCLcB/s1600/16-07-55-gray.jpg') no-repeat center center/cover;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
ul{
	margin-left: -45px;
}
li{
	list-style: none;
	display: inline-block;
}


/* ************************************************** main */

/* about */
#about {
	font-size: 3.3rem;
	line-height: 2.1;
	padding: 8rem 5rem;
	letter-spacing: 0.2rem;
}

#about p {
	margin: 0 auto;
	width: 77%;
	text-align: justify;
}

/* photos */
.photos {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: stretch;
}

.photos img {
	width: calc(50%/2);
	height: calc(50%/2);
}

/* ************************************************** quote */
.quote {
	background-color: #58d4ba;
	font-size: 3.3rem;
	line-height: 2.1;
	padding: 8rem 5rem;
	letter-spacing: 0.2rem;
}

section:first-of-type {
	background-color: #333;
	color: #eee;
}

/* ************************************************** form */
#contact {
	padding-top: 4rem;
	font-size: 3rem;
}

#contact form {
	padding: 0 20%;
	text-align: left;
}

#contact h2 {
	margin: 2rem 0;
}

#contact label {
	font-size: 2rem;
}

#contact textarea {
	height: 20rem;
}

input,
textarea {
	background-color: #e9e9e9;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin: 0;
	padding: 1rem;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 3rem;
	font-size: 1.2rem;
}

input:focus,
textarea:focus {
	outline: 3px solid #ccc;
}

input[type="submit"] {
	font-size: 2rem;
	font-weight: 300;
}
input[type="submit"]:hover {
	background-color: #58d4ba;
	color: #333;
}

/* ************************************************** footer */
#footer {
	background: #333;
	color: #eee;
	padding: 2rem;
	font-size: 2.3rem;
	margin-top: 3rem;
}

/* ************************************************** media queries */

@media screen and (max-width: 700px) {
	nav {
		flex-direction: column;
		justify-content: center;
	}

	nav .logo {
		font-size: 6rem;
		padding-bottom: 1.5rem;
	}

	nav ul {
		display: none;
	}
	.photos img {
		width: 100%;
		height: 100%;
	}
}

@media screen and (max-width: 481px) {
	nav {
		padding: 1rem 3rem;
	}

	nav .logo {
		font-size: 4rem;
		padding-bottom: 1rem;
	}

	.title-content a {
		font-size: 1.6rem;
	}

	.quote {
		padding: 3rem 4rem;
		font-size: 2.5rem;
	}

	#about {
		padding: 3rem 4rem;
		font-size: 2.5rem;
	}

	#about p {
		text-align: center;
	}

	#contact label {
		font-size: 1.6rem;
	}
}
