* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: courier;
    color: #364f6b;
}

.menu {
    float: right;
}
nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky; 
    top: 0;
    background: #FFFFFF;
    z-index: 1;
    border-bottom:1px solid #364f6b;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav ul li {
    float: left;
}
nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}
body{
	padding: 100px;
    background-image: url(https://wallpapertag.com/wallpaper/full/a/1/1/551733-download-free-abstract-desktop-background-1920x1080-ios.jpg);
	text-align: center;
	font-family: 'Quicksand',sans-serif;
}
ul{
	margin-left: -45px;
}
li{
	list-style: none;
	display: inline-block;
}
.main{
	width: 800px;
	height: 520px;
	background-color: skyblue;
	margin: 0 auto;
	padding-top: 20px;
	border-radius: 10px;
	border: 1px solid #eeeeee;
}

h1{
	text-align: center;
	font-size: 25px;
	margin: 0;
	font-weight: bold;
	color: brown;
	font-family: 'Times New Roman', Times, serif;
}